<label for="itemPrice" class="form-label">Price</label>
                        <input type="number" class="form-control" id="itemPrice" name="price_each" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="itemDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="itemDescription" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="addItemForm" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Item Modal (Same as Add Item Modal) -->
<div class="modal fade" id="editItemModal" role="dialog" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editItemForm">
                    <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload Multiple Pictures</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="product_images" multiple>
                      </div>
                    <div class="mb-3">
                        <label for="itemName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="itemName" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="itemCategory" class="form-label">Category</label>
                        <select class="form-control" name="category_id">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="itemQuantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="itemQuantity" name="quantity" required>
                    </div>
                    <div class="mb-3">
                        <label for="itemPrice" class="form-label">Price</label>
                        <input type="number" class="form-control" id="itemPrice" name="price_each" step="0.01" required>
                    </div>
                    <div class="mb-3">
                        <label for="itemPrice" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" form="addItemForm" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    new DataTable('#ordersTable');
    new DataTable('#itemsTable');
</script>

<script src="./frontend/services/product-service.js"></script>

<script>
$(document).ready(function () {
  ProductService.init();
  ProductService.getAllProducts();
});
</script>